# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env

# typescript
*.tsbuildinfo

.vscode/
android/
ios/Podfile
ios/bast.xcworkspace/contents.xcworkspacedata
ios/bast.xcodeproj/xcshareddata/xcschemes/bast.xcscheme
ios/bast.xcodeproj/project.pbxproj
ios/bast/SplashScreen.storyboard
ios/.gitignore
ios/.xcode.env
ios/Podfile.lock
ios/bast/AppDelegate.h
ios/Podfile.properties.json
ios/bast/AppDelegate.mm
ios/bast/bast-Bridging-Header.h
ios/bast/bast.entitlements
ios/bast/main.m
ios/bast/Info.plist
ios/bast/noop-file.swift
ios/bast/PrivacyInfo.xcprivacy
ios/bast/Images.xcassets/Contents.json
ios/bast/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
ios/bast/Images.xcassets/AppIcon.appiconset/Contents.json
ios/bast/Images.xcassets/SplashScreenBackground.colorset/Contents.json
ios/bast/Images.xcassets/SplashScreenLogo.imageset/Contents.json
ios/bast/Images.xcassets/SplashScreenLogo.imageset/image.png
ios/bast/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
ios/bast/Supporting/Expo.plist
ios/bast/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
